{% extends 'base.html.twig' %}

{% block title %}Producten1 index{% endblock %}

{% block body %}
    <h1>Producten1 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Discription</th>
                <th>Price</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producten1 in producten1s %}
            <tr>
                <td>{{ producten1.id }}</td>
                <td>{{ producten1.code }}</td>
                <td>{{ producten1.discription }}</td>
                <td>{{ producten1.price }}</td>
                <td>{{ producten1.image }}</td>
                <td>
                    <a href="{{ path('producten1_show', {'id': producten1.id}) }}">show</a>
                    <a href="{{ path('producten1_edit', {'id': producten1.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('producten1_new') }}">Create new</a>
{% endblock %}
